{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href = "{{ asset('css/register.css') }}" type = "text/css" rel = "stylesheet" />
{% endblock %}

{% block body %}
    <div class = "d-flex flex-column justify-content-center align-content-center register">

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password.first) }}
            {{ form_row(registrationForm.password.second) }}
            <div class = "info">If you register here, you will accept our terms and conditions,
            but we don´t have that, so you can give us your soul ♥. 
            </div>
            <button type = "submit">Register</button>
        {{ form_end(registrationForm) }}

        <div class = "d-flex justify-content-center align-items-center">Login</div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type = "text/javascript">

        document.querySelector('.register > div').addEventListener('click', () => {
            window.location.href = "{{ path('app_login') }}";
            return false;
        });

    </script>

{% endblock %}

