{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href = "{{ asset('css/check_email.css') }}" type = "text/css" rel = "stylesheet" />
{% endblock %}

{% block body %}

    <img class = "logo" src = "{{ asset('images/logo.png') }}"/>

    <div class = "d-flex flex-column justify-content-center align-items-center align-content-center checkemail">
        <div>
            <div class = "alert alert-danger">An email maybe has been sent that contains a link that you can click to reset your password.</div>
            <p>This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type = "text/javascript">

        document.querySelector('.logo').addEventListener('click', () => {
            window.location.href = "{{ path('welcome') }}";
            return false;
        });

    </script>

{% endblock %}