{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href = "{{ asset('css/register.css') }}" type = "text/css" rel = "stylesheet" />
{% endblock %}

{% block body %}

    <img class = "logo" src = "{{ asset('images/logo.png') }}"/>

    <div class = "d-flex flex-column justify-content-center align-content-center register">

        {{ form_start(resetForm) }}

            {{ form_row(resetForm.plainPassword) }}

            <button type = "submit">Reset password</button>

        {{ form_end(resetForm) }}

    </div>

{% endblock %}

{% block javascripts %}

    <script type = "text/javascript">

        document.querySelector('.logo').addEventListener('click', () => {
            window.location.href = "{{ path('welcome') }}";
            return false;
        });

    </script>

{% endblock %}