{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href = "{{ asset('css/menu.css') }}" type = "text/css" rel = "stylesheet" />
    <link href = "{{ asset('css/game.css') }}" type = "text/css" rel = "stylesheet" />
    <link href = "{{ asset(cssFile) }}" type = "text/css" rel = "stylesheet" />
{% endblock %}

{% block body %}

    {% include 'menu.html' %}

    <div class = "d-flex justify-content-center align-content-center align-items-center container">
        {% include indexFile %}
    </div>

{% endblock %}

{% block javascripts %}

    <script type = "text/javascript">

        window.addEventListener('DOMContentLoaded', checkResolution);
        window.addEventListener('resize', checkResolution);

        function checkResolution () {
            const game = document.querySelector('.container > div');
            if (window.innerHeight < game.clientHeight || window.innerWidth < game.clientWidth) 
                window.location.href = "{{ path('device_resolution_not_suported') }}";
        }

    </script>

{% endblock %}