{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href = "{{ asset('css/games.css') }}" type = "text/css" rel = "stylesheet" />
    <link href = "{{ asset('css/menu.css') }}" type = "text/css" rel = "stylesheet" />
{% endblock %}

{% block body %}
    {% include 'menu.html' %}

    <div class = "listado d-flex flex-wrap justify-content-center">
        {% for game in games %}
            <div>
                <a href = "{{ path('onegame', {slug: game.getSlug}) }}">
                    <img src = "{{ asset('images/tetris.jpg ')}}"/>
                    <p>{{ game.name }}</p>
                </a>
            </div>

        {% endfor %}
    <div>
{% endblock %}
