{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href = "{{ asset('css/menu.css') }}" type = "text/css" rel = "stylesheet" />
    <link href = "{{ asset('css/score.css') }}" type = "text/css" rel = "stylesheet" />
{% endblock %}

{% block body %}
    {% include 'menu.html' %}

    <div class = "stars"></div>
    <div class = "stars2"></div>
    <div class = "stars3"></div>
    
    <div class = "d-flex justify-content-center align-content-center align-items-center flex-wrap buttons">
        <div class = "p-2">Play</div>
        <div class = "p-2">Lobby</div>
    </div>

    <div class = "listado d-flex flex-column">
        <div>HIGH SCORES</div>

        {% for data in allScores %}
            {% if data.score != 0 %}
                <div class = "row">
                    <div>#{{ loop.index }}</div> 
                    <div>{{ data.player.username }}</div>
                    <div>{{ data.score }}</div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    
{% endblock %}

{% block javascripts %}

    <script type = "text/javascript">

        document.querySelector('.buttons > div:first-of-type').addEventListener('click', () => {
            window.location.href = "{{ path('onegame', { slug: slug }) }}";
            return false;
        });

        document.querySelector('.buttons > div:last-of-type').addEventListener('click', () => {
            window.location.href = "{{ path('games') }}";
            return false;
        });

    </script>

{% endblock %}